@using System.Collections

@using Cats.Helpers
@using Cats.Models.Constant

<div class="portlet box" style="background-color: #2b3643;">
    <div class="portlet-title line">
        <div class="caption">
             @ViewData["RegionName"]
        </div>
    </div>

    <div class="portlet-body" style="padding: 0px;">
        @foreach (var item in ViewBag.Zones)
        {
            int id = @item.AdminUnitID;
            <li><a href="#@item.Name" OnClicks="zoneChange(@id);">@item.Name </a></li>
        }
    </div>
</div>