@using System.Collections

@using Cats.Helpers
@using Cats.Models.Constant

<div class="portlet box" style="background-color: #2b3643;">
    <div class="portlet-title line">
        <div class="caption">
             @ViewData["RegionName"]
        </div>
    </div>

    <div class="portlet-body" style="padding: 0px;">
        <ul style="list-style: none; padding-left: 30px;">
            @foreach (var item in ViewBag.Zones)
            {
                int id = @item.AdminUnitID;
                <li style="padding: 5px 0px;"><a style="color: #2b3643;" href="#@item.Name" OnClicks="zoneChange(@id);">@item.Name </a></li>
            }
        </ul>
    </div>
</div>