@using Cats.Helpers
<div id="busiHeader" class="portlet-title">
    <div class="caption font-green-sharp">
        <span class="caption-subject bold uppercase"> @Html.Translate("Business Process")</span>
    </div>
</div>
<div id="busiContent" class="portlet-body">
    <ul>
        <li>
            <a href="@Url.Action("ProcessTemplate", "WorkflowManager", new {Area = ""})" class="shortcut">
                <i class="shortcut-icon icon-list-alt"></i>
                <span class="shortcut-label">Workflow Definition</span>
            </a>
        </li>
    </ul>
</div>

<script>
    $("#busiHeader").click(function () {
        $("#busiContent").slideToggle("slow", "linear");
    });
</script>
