@using Cats.Helpers

<div id="locHeader" class="portlet-title">
    <div class="caption font-green-sharp">
        <span class="caption-subject bold uppercase"> @Html.Translate("Locations and FDPs")</span>
    </div>
</div>

<div id="locContent" class="portlet-body">
    <ul>
        <li>
            <a href="@Url.Action("ManageZones", "AdminUnit", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Zones</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "AdminUnit", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Woredas</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "FDP", new { Area = "Settings" })" class="shortcut">
                <span class="shortcut-label">FDPs</span>
            </a>
        </li>
    </ul>
</div>

<script>
    $("#locHeader").click(function () {
        $("#locContent").slideToggle("slow", "linear");
    });
</script>
