@using Cats.Helpers

<div id="trdHeader" class="portlet-title">
    <div class="caption font-green-sharp">
        <span class="caption-subject bold uppercase"> @Html.Translate("Translation")</span>
    </div>
</div>
<div id="trdContent" class="portlet-body">
    <ul>
        <li>
            <a href="@Url.Action("Index", "Language", new {Area = "Localization"})" class="shortcut">
                <span class="shortcut-label">Languages</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Details", "Language", new {Area = "Localization"})" class="shortcut">
                <span class="shortcut-label">Translation Terms</span>
            </a>
        </li>
    </ul>
</div>


<script>
    $("#trdHeader").click(function () {
        $("#trdContent").slideToggle("slow", "linear");
    });
</script>
