@using Cats.Helpers

<div id="usersHeader" class="portlet-title">
    <div class="caption font-green-sharp">
        <span class="caption-subject bold uppercase"> @Html.Translate("Users and Roles")</span>
    </div>
</div>

<div id="usersContent" class="portlet-body">

    <ul>
        <li>
            <a href="@Url.Action("Index", "Users", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Users</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("", "", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Roles</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("New", "Users", new { Area = "Settings" })">
                <span class="shortcut-label"> Create New User</span>
            </a>
        </li>
    </ul>
</div>


<script>
    $("#usersHeader").click(function () {
        $("#usersContent").slideToggle("slow", "linear");
    });
</script>
