@using Cats.Helpers
@using Cats.Models.ViewModels
@using Cats.Security
@using Cats.Services.Security
@using Kendo.Mvc.UI
@model  System.Data.DataTable


@{
    
    var user = (UserIdentity)System.Web.HttpContext.Current.User.Identity;
    var unit = user.Profile.PreferedWeightMeasurment;
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Regional Summary");
    ViewBag.PageTitleDescription = "";
}

<div class="row">
    @Html.Partial("_HRDLeftBar")
    <div class="col-md-9">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-list font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"> @Html.Translate("Regional Summary")</span>
                </div>
                <div class="tools">
                    <a href="#" class="collapse" data-original-title="" title=""></a>
                </div>
                <div class="actions">

                    <a class="btn btn-icon-only btn-default fullscreen"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive" style="overflow-x: visible !important;">
                    @(Html.Kendo().Grid(Model)

                              .Name("grid")
                              .Columns(columns =>
                              {
                                  foreach (System.Data.DataColumn column in Model.Columns)
                                  {
                                      if (column.DataType == typeof(decimal))
                                      {
                                          columns.Bound(column.ColumnName).HtmlAttributes(new { align = "right" }).Format("{0:N2}");
                                      }
                                      else if (column.DataType == typeof(int))
                                      {
                                          columns.Bound(column.ColumnName).HtmlAttributes(new { align = "right" }).Format("{0:N0}");
                                      }
                                      else
                                      {
                                          columns.Bound(column.ColumnName);
                                      }

                                  }
                              })
                              .Pageable(t => t.PageSizes(new[] { 10, 15, 20, 30, 50, 100 }))
                              .Sortable()
                              .Groupable()
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="cats-modal"></div>

<script>
    $(function () {
        var printurl = "@Url.Action("PrintSummary", "HRD",new{id= ViewBag.HRDID })";
        $("#toolbar_button_print").attr("href", printurl);
    });
</script>
