@model UtilizationViewModel
@using Cats.Areas.Logistics.Models
@using Cats.Helpers
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization

@{
    ViewBag.Title = @Html.Translate("Woreda Stock Distribution");
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Woreda Stock Distribution");
    ViewBag.PageTitleDescription = "";
}

<div class="row">
    <div class="col-md-2" style="width: 20%;">
        @Html.Partial("_LeftBar")
    </div>
    <div class="col-md-10 well" style="padding: 100px 150px; width: 80%;" >
        <h2>Distribution Data Entry</h2>
        <h4>
            Select all information from the <b>Left side</b> to Enter new/Edit Distribution information
        </h4>
    </div>
</div>

