<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.1.1309.1617" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="NUnit" version="3.2.0" targetFramework="net45" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net45" />
  <package id="System.Web.Mvc.Extensions.Mvc.4" version="1.0.9" targetFramework="net45" />
</packages>